# Ignore compiled class files
*.class

# Ignore JAR files
*.jar

# Ignore log files
*.log

# Ignore build directories
bin/
out/
build/

# Ignore IDE specific files (e.g., IntelliJ IDEA, Eclipse)
*.iml
.idea/
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# Ignore OS-specific files
.DS_Store
Thumbs.db
