/* #btn{
    background-color: blue;
    color: white;
}
h1{
    color: purple;
    text-decoration: underline;
} */

#hoverBox {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    margin: 50px;
}
#content {
    height: 400px; /* To enable scrolling */
}